<div class="container mt-4" style="max-width: 500px;">
  <div class="card p-4 shadow-sm">
    <h2 class="mb-4 text-center">Register</h2>

    <form>
      <button type="button" class="btn btn-outline-primary" (click)="toggleRole()">
        Registering as: {{ user.role === 'company' ? 'Company' : 'User' }}
      </button>


      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.name" name="name">
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" [(ngModel)]="user.email" name="email">
      </div>

      <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone">
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" [(ngModel)]="user.password" name="password">
      </div>

      <div class="mb-4">
        <label class="form-label">Profile Image/Company Logo</label>
        <input type="file" class="form-control" (change)="onFileSelect($event)">
      </div>
      <div *ngIf="previewImage">
        <img [src]="previewImage" width="120" height="120" class="rounded-circle border">
      </div>

      <button type="submit" (click)="saveUser()" class="btn btn-primary w-100">
        Sign Up
      </button>

    </form>
  </div>
</div>